*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.debug{
  background-color: aqua;
  border: 1px solid black;
}
body{
  font-family: 'Lato', sans-serif;
  background: linear-gradient();

}
 img{
  max-width: 100%;
 }
 .container{
  max-width: 85%;
  margin: 0 auto;
  height: 780px;
  margin-top: 20px;
 }
 .d-flex{
  display: flex;
 }
 .between{
  justify-content: space-between;
 }
 .align-center{
  align-items: center;
 }
 .col-left{
  width: 30%;
  height: 100%;
  padding-left: 15px;
 }
 .col-rigth{
  width: 70%;
  height: 100%;
  padding-left: 15px;
 }
 .text-inside-right{
  margin-right: 470px;
  padding-top: 15px;
  height: 100%;
}
 .top-bar{
  height: 70px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid grey;
 }
 .image-small{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  vertical-align: middle;
  margin-top: 10px;
 }
 .icons{
  vertical-align: middle;
  margin-top: 25px;
  display: flex;
  justify-content: space-around;
  padding: 5px 20px;
 }
 .icons i{
  font-size: 1.4rem;
  padding-right: 15px;
  color: grey;
  height: 100%;
 }
 .circle{
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 1px solid white;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  background-color: white;
  margin-top: 10px;
 }
 .blu-bar{
  height: 70px;
  background-color: aquamarine;
  display: flex;
 }
 .circle i{
  font-size: 1.4rem;
 }
 h4,p{
  font-size: small;
 }
 .text-inside{
  margin: 20px 5px;
  height: 100%;
 }
 .bar-research{
  height: 50px;
  display: flex;
  align-items: center;
  background-color: white;
  border-bottom: 1px solid grey;
 }
 .input-research{
  height: 35px;
  vertical-align: middle;
  background-color: white;
  width: 90%;
  
 }
 .input-research input{
  height: 35px;
  vertical-align: middle;
  background-color: white;
  width: 80%;
  padding: 5px;
  
 }
.research-icon{
  vertical-align: middle;
  margin-top: 8px;
  padding: 5px 20px;
  height: 35px;
  background-color: white;
  
}
.research-icon i{
  font-size: 1.1rem;
  color: grey;
  height: 100%;
}
.contenitor-users{
  overflow:scroll;
  height: calc(100% - 190px);
}
.user{
  display: flex;
  justify-content: space-between;
}
.text-inside{
  margin-right: 30px;
}
.text-inside h3{
  padding-left: 10px;
}
.p{
  padding-left: 10px;
  color: lightgray;
}
.timing{
  padding: 15px 10px;
  margin-left: 35px;
}
.timing p{
  font-weight: 400;
}
.contenitor-message{
  overflow: scroll;
  background-image: url(img/mine.jpg);
  height: calc(100% - 140px);
}
.message{
  height: 70px;
  display: flex;
  justify-content: space-between;
}
.input-big{
  width: 750px;
  height: 45px;
  margin: 15px 0;
  border-radius: 10px;
  padding: 10px;
}

